# refs: https://github.com/prometheus/node_exporter/blob/master/examples/systemd/node_exporter.service

[Unit]
Description=Node Exporter

[Service]
User=node_exporter
ExecStart=/opt/node_exporter/node_exporter-0.17.0.linux-amd64/node_exporter
WorkingDirectory=/opt/node_exporter/

[Install]
WantedBy=multi-user.target
